/*=Global
---------------------------------------*/
html {
   font-size: 62.5%;
}

body {
   font-size: 14px;
   overflow-x: hidden;
   color: $black;
   font-family: $font1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

ul {
   padding: 0 0 0 10px;
   li {
      margin-bottom: 20px;
   }
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: 25px;
   margin-top: 0;
   line-height: 1.3;
   font-family: $font2;
   font-weight: 700;
}

h1 {
   font-size: 3.6rem;
}

h2 {
   font-size: 2.4rem;
}

h3 {
   font-size: 1.6rem;
}

p {
   margin: 0 0 30px 0;
   line-height: 1.5;
}

img {
   max-width: 100%;
   height: auto;
   width: auto;
}

::-webkit-input-placeholder {
   color: rgba($black, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba($black, 0.5);
}

::-moz-placeholder { /* Firefox 19+ */
   color: rgba($black, 0.5);
}

:-ms-input-placeholder {
   color: rgba($black, 0.5);
}

/**
Icomoon Icons
 */
[class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before {
   content: "\e900";
}

.icon-arrow-left:before {
   content: "\e90f";
}

.icon-arrow-right:before {
   content: "\e910";
}

.icon-arrow-up:before {
   content: "\e911";
}

.icon-calendar:before {
   content: "\e901";
}

.icon-user:before {
   content: "\e902";
}

.icon-user-add:before {
   content: "\e903";
}

.icon-facebook:before {
   content: "\e904";
}

.icon-search:before {
   content: "\e905";
}

.icon-clock:before {
   content: "\e906";
}

.icon-play:before {
   content: "\e907";
}

.icon-envelope:before {
   content: "\e908";
}

.icon-user-o:before {
   content: "\e909";
}

.icon-twitter:before {
   content: "\e90a";
}

.icon-instagram:before {
   content: "\e90b";
}

.icon-rss:before {
   content: "\e90c";
}

.icon-map-marker:before {
   content: "\e90d";
}

.icon-mobile:before {
   content: "\e90e";
}

.container {
   @include bp(lg-screens) {
      max-width: 1280px;
   }

}

input:focus {
   outline: none;
}

a {
   color: $grey;
}

a:focus, a:hover {
   outline: 0;
   color: lighten($grey, 20);
   text-decoration: none;
}

@-ms-viewport {
   width: auto ;
}

.language-switcher {
   transition: all 0.3s ease-in-out;
   background: $secondary;
   padding: 15px 25px;
   color: $white;
   font-size: 15px;
   text-transform: uppercase;
   font-weight: bold;
   font-family: $font1;
   position: fixed;
   right: 0;
   z-index: 10;
   top: 20%;
   &:hover {
      background: darken($secondary, 10);
      color: $white;
   }
}

.no-gutters {
   margin-right: 0 !important;
   margin-left: 0 !important;
   > .col, > [class*="col-"] {
      padding-right: 0 !important;
      padding-left: 0 !important;
   }
}

iframe {
   max-width: 100%;
}

#header {
   @include bp(extra-small) {

   }
   .logo {
      @include bp(extra-small) {
         display: block;
         max-width: 150px;
         margin: 10px auto;
      }
   }
}

.header-top {
   background: $top-menu-bg;
   color: $black;
   font-size: 12px;
   font-weight: bold;
   padding: 1.15rem 0;
   @include bp(extra-small) {
      text-align: center;
   }
   .date {
      color: rgba($black, 0.75);
      display: inline-block;
      font-size: 1.4rem;
      i {
         color: $black-1;
         margin-right: 1rem;
      }
   }
   .weather-condition {
      display: inline-block;
      margin-left: 20px;
   }
}

.header-bottom {
   padding: 2.2rem 0 2rem;
   .container {
      position: relative;
   }
   .poster {
      text-align: right;
   }
}

.header-top-right {
   @include bp(small-screens) {
      text-align: right;
   }
}

.top-menu {
   list-style: none;
   padding: 0;
   font-size: 0;
   margin: 0;
   @include bp(extra-small) {
      margin-top: 10px;
   }
   @include bp(small-screens) {
      display: inline-block;
   }
   &.social-link {
      border-left: 1px solid rgba($black, 0.2);
      li:last-child {
         a {
            padding-right: 0;
         }
      }
   }
   li {
      display: inline-block;
      margin-bottom: 0;
      font-size: 12px;
      &:not(:first-child) {
         border-left: 1px solid rgba($black, 0.2);
      }
      a {
         color: $top-menu-text;
         display: inline-block;
         transition: all, 0.3s, ease-in-out;
         padding-left: 1.5rem;
         padding-right: 1.5rem;
         &:hover {
            color: lighten($top-menu-text-hover, 40);
         }
         i {
            color: #646464;
            &:hover {
               color: lighten(#646464, 40);
            }
         }
      }
   }
}

.sidebar div:last-of-type {
   margin-bottom: 0;
}

/*.Ads =========== */
.poster {
   @include bp(below-tablet) {
      margin-bottom: 40px;
   }
   img {
      width: 100%;
   }
   &.adbm {
      @include bp(above-tablet) {
         margin-bottom: 7rem;
      }
   }
   &.adtm {
      @include bp(small-screens) {
         margin-top: 1rem;
         margin-bottom: 0rem;
      }
   }
}

/*NAv Open  =========== */
.openmenu-overlay {
   height: 100vh;
   overflow: hidden;
}

.overlay {
   position: fixed;
   height: 100%;
   width: 100%;
   background: rgba($black, 0.8);
   opacity: 0;
   visibility: hidden;
   z-index: -1;
   transition: all, 0.3s, ease-in-out;
   top: 0;
   @include bp(above-tablet) {
      display: none;
   }
   .openmenu-overlay & {
      opacity: 1;
      visibility: visible;
      z-index: 99;
   }
}

.mobile-nav {
   z-index: 99;
   margin-bottom: 20px;
   .nav-fixed & {
      @include bp(below-tablet) {
         position: fixed;
         top: 0;
         width: 100%;
      }
   }
   @include bp(above-tablet) {
      display: none;
   }
   .nav-holder {
      background: $main;
   }
   .main-menu {
      li {
         display: inline-block;
         border: none;
         a {
            padding: 20px;
         }
      }
   }
}

.nav-burger {
   padding-left: 15px;
   margin-top: 15px;
   color: $white;
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 400;
   font-family: $font1;
}

.nav-trigger {
   z-index: 3;
   z-index: 999;
   cursor: pointer;
   width: 30px;
   height: 22px;
   overflow: hidden;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   transition: all, .3s, ease-in-out;
   @include bp(above-tablet) {
      display: none;
   }
   .primary-nav & {
      position: fixed;
      top: 20px;
      left: -250px;
      .openmenu-overlay & {
         left: 15px;
      }
   }

   &:hover {
      opacity: 0.7;
   }
   .burger {
      display: block;
      height: 2px;
      position: relative;
      margin-top: 9px;
      transition: all, .3s, ease-in-out;
      &, &:before, &:after {
         background-color: $white;
         transition: background-color, 0.3s, ease-in-out;
      }
      &.menu-on {
         & {
            background-color: transparent;
         }
         &:before {
            -moz-transform: translate(0, 9px) rotate(45deg);
            -ms-transform: translate(0, 9px) rotate(45deg);
            -webkit-transform: translate(0, 9px) rotate(45deg);
            transform: translate(0, 9px) rotate(45deg);
            background-color: $white;
         }
         &:after {
            -moz-transform: translate(0, -9px) rotate(-45deg);
            -ms-transform: translate(0, -9px) rotate(-45deg);
            -webkit-transform: translate(0, -9px) rotate(-45deg);
            transform: translate(0, -9px) rotate(-45deg);
            background-color: $white;
         }
      }
      &:before, &:after {
         position: absolute;
         width: 30px;
         height: 2px;
         content: "";
         display: block;
         -moz-transition: -moz-transform .3s, background .3s;
         -o-transition: -o-transform .3s, background .3s;
         -webkit-transition: -webkit-transform .3s, background .3s;
         transition: transform .3s, background .3s;
         -moz-transform-origin: center center;
         -ms-transform-origin: center center;
         -webkit-transform-origin: center center;
         transform-origin: center center;
      }
      &:before {
         top: -9px;
      }
      &:after {
         bottom: -9px;
      }
   }
}

.nav-fixed {
   padding-top: 55px;
}

.primary-nav {
   background-color: $menu-bg;
   z-index: 99;
   .nav-fixed & {
      @include bp(above-tablet) {
         position: fixed;
         top: 0;
         width: 100%;
      }
   }
   @include bp(below-tablet) {
      padding-top: 55px;
      position: fixed !important;
      left: 0;
      transform: translateX(-100%);
      background: lighten($black, 13.5);
      top: 0;
      height: 100%;
      width: 250px;
      transition: all 0.45s cubic-bezier(0.65, 0.05, 0.36, 1);
      z-index: 999;
      .container {
         padding: 0;
      }
   }
   .openmenu-overlay & {
      transform: translateX(0);
   }
   .search-trigger, .user-link {
      @include bp(below-tablet) {
         display: none;
      }
   }
}

.main-menu {
   list-style: none;
   padding: 0;
   font-size: 0;
   margin: 0;
   position: relative;
   background: $menu-bg;
   @include bp(above-tablet) {
      display: flex;
      flex-wrap: wrap;
   }
   > li {
      margin-bottom: 0;
      font-size: 12px;
      @include bp(below-tablet) {
         border-bottom: 1px solid #333;
      }
      @include bp(above-tablet) {
         display: inline-block;
         margin-right: 0.5rem;
      }
      @include bp(lg-screens) {
         margin-right: 1.8rem;
      }
      @include bp(xl-screens) {
         margin-right: 2.8rem;
      }
      &.search-trigger {
         @include bp(above-tablet) {
            display: flex;
            margin-left: auto;
            margin-right: 0;
            > a {
               display: flex;
               align-items: center;
               flex-direction: column;
               flex-grow: 1;
               justify-content: center;
            }
         }
      }
      > a {
         color: $menu-text;
         text-transform: capitalize;
         font-family: $font1;
         line-height: 1.1;
         display: block;
         padding: 15px 15px;
         font-weight: 600;
         position: relative;
         transition: color, 0.3s, ease-in-out;

         @include bp(above-tablet) {
            padding: 20px;
            display: inline-block;
         }
         @include bp(lg-screens) {
            font-size: 13px;
         }
         @include bp(xl-screens) {
            padding: 2.6rem 0.7rem;
            font-size: 1.8rem;
         }
         &:before {
            height: 4px;
            width: 0;
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $menu-active-border;
            transition: 0.2s width ease-in-out;
         }
      }

      &:hover {
         .sub-menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
         }
      }
      &:not(.search-trigger):hover {
         > a {
            text-decoration: none;
            color: $menu-text-hover;
            &:before {
               width: 100%;
            }
         }
      }
      &.search-trigger {
         a {
            background: lighten($menu-bg, 10);
            @include bp(tablet-landscape) {
               padding: 20px 15px;
            }
            @include bp(xl-screens) {
               padding: 20px 28px 20px 28.2px;
            }

            &:hover {
               text-decoration: none;
               background: $menu-hover-bg;
               color: $menu-bg;
            }
         }
      }
      &.user-link {
         a {
            background: $menu-bg;
            @include bp(tablet-landscape) {
               padding: 20px 15px;
            }
            @include bp(xl-screens) {
               padding: 20px 28px 20px 28.2px;
            }
            &:hover {
               text-decoration: none;
               background: $menu-hover-bg;
               color: $menu-bg;
            }
         }
      }
      &.menu-item-has-children {
         > a {
            @include bp(below-tablet) {
               display: none;
            }
            &:after {
               font-family: $icomoon;
               font-size: 0.8rem;
               content: "\e900";
               display: inline-block;
               margin-left: 10px;
               transform: translateY(-25%);
            }
         }
      }
      ul.sub-menu {
         z-index: 99;
         padding: 0;
         font-size: 0;
         @include bp(below-tabler) {
            padding-left: 1.5rem;
         }
         @include bp(above-tablet) {
            background: $menu-hover-bg;
            padding: 20px 0;
            top: calc(100% + 20px);
            transition: top, 0.3s, linear;
            position: absolute;
            width: 100%;
            left: 0;
            visibility: hidden;
            opacity: 0;
         }
         li {
            list-style: none;

            font-size: 12px;
            margin-bottom: 0;
            @include bp(below-tablet) {
            }
            @include bp(above-tablet) {
               display: inline-block;
               width: calc(100% / 6);
            }
            a {
               color: rgba($white, 0.75);
               text-transform: uppercase;
               font-family: $font1;
               line-height: 1.1;
               display: block;
               padding: 15px;
               font-weight: 600;
               @include bp(above-tablet) {
                  padding: 15px 11px;
                  color: $sub-menu-text;
               }
               @include bp(lg-screens) {
                  padding: 15px 17px;
               }
               @include bp(xl-screens) {
                  padding: 15px 22px;
               }
               &:hover {
                  @include bp(above-tablet) {
                     color: $sub-menu-text-hover;
                  }
                  @include bp(below-tablet) {
                     background: $main;
                  }
               }

            }
         }
      }
   }
}

.page-head-module {
   padding: 30px 0;
   background-color: #f9f9f9;
   @include bp(above-tablet) {
      padding: 6rem 0;
   }
   .page-title {
      text-transform: capitalize;
      color: #303030;
      @include bp(small-screens) {
         font-size: 4rem;
         margin-bottom: 0;
      }
      &.author-name {
         font-size: 2.2rem;
         color: #303030;
         font-weight: 600;
         margin-bottom: 0.5rem;
      }
   }
   .page-subtitle {
      font-size: 1.4rem;
      font-weight: 500;
      color: rgba(#303030, 0.8);
      text-transform: uppercase;
   }
   .author-description {
      font-size: 1.6rem;
      font-weight: 500;
      color: #616161;
      line-height: 1.6;
      margin-bottom: 1.5rem;
   }
   .author-website{
      margin-bottom: 1.5rem;
      a{
         color:$main;
         &:hover{
            color:lighten($main, 20);
         }
      }
   }
   .poster {
      margin-bottom: 0;
   }
}

.search-head-module {
   .page-title {
      font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 4rem;
      b {
         font-weight: 700;
      }
   }
}

.billboard-news-module {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   @include bp(above-tablet) {
      padding-top: 6.5rem;
   }
   &.style-2 {
      @include bp(extra-small) {
         padding-bottom: 4.5rem;
      }
      > .container {
         position: relative;
      }
      .news-list {
         background-color: rgba(#111111, 0.75);
         padding: 2.5rem 0 3rem;
         @include bp(small-screens) {
            padding-top: 5rem;
            padding-bottom: 6rem;
         }
         .post {
            margin-bottom: 2.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            @include bp(lg-screens) {
               padding-left: 5rem;
               padding-right: 5rem;
            }
            &:last-child {
               margin-bottom: 0;
            }
            .post-title {
               font-size: 1.6rem;
               line-height: 1.3125;
               font-weight: 600;
               color: #ffffff;
               margin-bottom: 0.8rem;
               @include bp(lg-tablet){
                  font-size: 1.4rem;
               }
            }
            .post-meta {
               .post-date, .author {
                  color: rgba(#FFFFFF, 0.5);
               }
               .author{
                  &:hover{
                     color:$main;
                  }
               }
            }
         }
      }
   }
   .wrapper {
      background: $main;
      padding: 30px;
   }

   .overlay-post {
      .post-media {
         height: 195px;
         @include bp(above-tablet) {
            height: 245px;
         }
      }
      .post-meta{
         .author{
            color:$white;
            &:hover{
               color: $main;
            }
         }

      }
   }
   .post-cat {
      margin-bottom: 10px;
      a {
         background: $main;
         color: $secondary;
         display: inline-block;
         line-height: 1;
         font-size: 12px;
         font-weight: 400;
         padding: 5px 10px;
         font-family: $font1;
         text-transform: uppercase;
      }
   }
   .post {
      .post-title {
         line-height: 1.181818;
         @include bp(above-tablet) {
            font-size: 22px;
         }
         a {
            color: $white;
         }
      }
      .post-entry {
         @include bp(extra-small) {
            overflow: visible;
         }
      }
   }

   .list-post {
      .post-title {
         font-size: 17px;
      }
      .post-media {
         @include bp(extra-small) {
            width: 100%;
         }
         @include bp(lg-screens) {
            width: 210px;
         }
         @include bp(extra-small) {
            margin-right: 0;
         }

      }
   }
}

.billboard-cat-news-module {
   padding-top: 0;
   padding-bottom: 40px;
   background-color: #f9f9f9;
   @include bp(small-screens) {
      padding-bottom: 6.4rem;
   }
   .overlay-post {
      margin-bottom: 0;
      > a {
         @include bp(small-screens) {
            height: 100%;
            display: block;
         }
         .post-media {
            @include bp(small-screens) {
               height: 100%;
            }
            a {
               i {
                  position: static;
               }
            }
         }
      }
   }
   .top-news-block {
      background: $white;
      padding: 30px;
      height: 100%;
      @include bp(small-screens) {
         padding: 5.5rem 6rem;
      }
      .post {
         margin-bottom: 10px;
         @include bp(above-tablet) {
            margin-bottom: 3rem;
         }
         &:last-child {
            margin-bottom: 0;
         }
         .post-title {
            font-size: 18px;
         }
      }
      h3 {
         color: $blue;
         text-transform: uppercase;
         margin-bottom: 20px;
         @include bp(above-tablet) {
            font-size: 1.8rem;
            margin-bottom: 3rem;
         }
         .divider {
            height: 1px;
            background-color: #E9ECF3;
         }
      }
   }
}

.overlay-post {
   position: relative;
   @include bp(extra-small) {
      margin-bottom: 10px;
   }
   .post-media {
      position: relative;
      height: 230px;
      &:before {
         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,0+50,0.65+100 */
         background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
      .media-item {
         i {
            position: static;
            font-size: 3rem;
         }
      }
   }
   .post-cat {
      margin-bottom: 10px;
      a {
         background: $main;
         color: $secondary;
         display: inline-block;
         line-height: 1;
         font-size: 12px;
         font-weight: 500;
         padding: 0.6rem 0.8rem;
         font-family: $font1;
         text-transform: uppercase;
         border-radius: 0.4rem;
         &:not(:last-child) {
            margin-right: 0.8rem;
         }
         &:hover {
            background: $secondary;
            color: $main;
         }
      }
   }
   .post-entry {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px;
      text-align: center;
      @include bp(lg-screens) {
         padding-bottom: 4.5rem;
      }
      @include bp(large-screens) {
         width: 80%;
      }
   }

   .post-title {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 500;
      @include bp(above-tablet) {
         font-size: 18px;
      }
      a {
         color: $white;
      }
   }

   .post-meta {
      .post-date {
         color: $white;
      }
   }
   &.large {
      .post-media {
         height: 400px;
         @include bp(extra-small) {
            height: 200px;
         }
         @include bp(above-tablet) {
            height: 520px;
         }
         .media-item {
            @include bp(lg-screens) {
               right: 2rem;
            }
            bottom: 2.5rem;
         }
      }
      .post-entry {
      }
      .post-title {
         @include bp(above-tablet) {
            font-size: 2.7rem;
            line-height: 1.19;
         }
      }
   }
   &.medium {
      margin-bottom: 30px;
      .post-title {
         @include bp(above-tablet) {
            font-size: 22px;
         }
      }
   }
   &.full {
      margin-bottom: 0;
      @include bp(small-screens) {
         position: absolute;
         left: 15px;
         right: 15px;
         height: 100%;
      }
      .post-entry {
         text-align: left;
         @include bp(above-tablet) {
            padding-bottom: 80px;
         }
      }
      .post-media {
         @include bp(extra-small) {
            height: 22.5rem;
         }
         @include bp(small-screens) {
            height: 100%;
         }
         .media-item {
            @include bp(above-tablet) {
               bottom: 6rem;
            }
         }
      }
      .post-title {
         margin-bottom: 2.5rem;
         @include bp(above-tablet) {
            font-size: 3.2rem;
         }
      }
      .post-meta {
         font-size: 1.4rem;
      }
   }
}

.grid-post {
   &.grid-post--medium {
      margin-bottom: 3rem;
      @include bp(tablet) {
         margin-bottom: 2rem;
      }
      @include bp(lg-screens) {
         margin-bottom: 5rem;
      }
      .post-media {
         float: left;
         width: 10rem;
         margin-right: 1.5rem;
         @include bp(tablet) {
            width: 8rem;
            margin-right: 0.9rem;
         }
         @include bp(lg-screens) {
            width: 15rem;
         }
         @include bp(xl-screens) {
            margin-right: 2.9rem;
         }
      }
      .post-title {
         @include bp(tablet) {
            font-size: 1.2rem;
         }
      }
      .post-meta {
         @include bp(lg-tablet) {
            display: none;
         }
      }
   }
}

.marquee-module {
   padding: 30px 0;
   font-size: 14px;
   .head {
      float: left;
      font-weight: 600;
      font-family: $font1;
      position: relative;
      color: #666666;
      padding: 10px 10px 10px 0;
      &:before {
         background: url(../images/ticker-divider.png) no-repeat left top;
         content: "";
         position: absolute;
         height: 48px;
         width: 12px;
         right: -30px;
         top: 0;
      }
   }
   .container {

   }
   ul {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 20px !important;
      overflow: hidden;
      li {
         margin: 0;
         margin-left: 10px;
         font-weight: 700;
         font-family: $font1;
         float: left;
         &:before {
            content: "";
            height: 7px;
            width: 7px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
            background: #888888;
         }
      }
   }
}

.tickercontainer { /* the outer div with the black border */
   width: calc(100% - 110px);
   min-height: 50px;
   margin: 0;
   padding: 10px 0 0 0;
   overflow: hidden;
   text-align: center;
   float: right;
}

/* that serves as a mask. so you get a sort of padding both left and right */
.tickercontainer .mask {
   position: relative;
   width: 100%;
   overflow: hidden;
}

ul.newsticker { /* that's your list */
   position: relative;
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 20px !important;
   overflow: hidden;
   li {
      margin: 0;
      margin-left: 10px;
      font-weight: 700;
      font-family: $font1;
      float: left;
      &:before {
         content: "";
         height: 7px;
         width: 7px;
         border-radius: 50%;
         display: inline-block;
         margin-right: 10px;
         background: #888888;
      }
   }

}

.top-stories-module {
   background-color: $pink;
   padding: 3rem 0 2.8rem;
   @include bp(above-tablet) {
      margin-top: 6.5rem;
   }
   .row {
      margin-left: -10px;
      margin-right: -10px;
      .col-lg-2 {
         padding-left: 10px;
         padding-right: 10px;
      }
   }
   .head {
      color: $white;
      font-family: $font1;
      font-weight: 700;
      font-size: 2.7rem;
      line-height: 1.19;
      @include bp(above-tablet) {
         max-width: 100px;
      }
      @include bp(below-tablet) {
         margin-bottom: 20px;
      }
   }
   .post-wrap {
      min-height: 6.9rem;
      transition: all 0.3s ease-in-out;
      @include bp(medium-screens) {
         margin-bottom: 20px;
      }
      @include bp(extra-small) {
         &:nth-child(odd):not(:last-child) {
            border-right: 1px solid rgba($white, 0.25);
         }
      }
      @include bp(tablet) {
         &:not(:nth-of-type(3n)):not(:last-child) {
            border-right: 1px solid rgba($white, 0.25);
         }
      }
      @include bp(above-tablet) {
         &:not(:last-child) {
            border-right: 1px solid rgba($white, 0.25);
         }
      }
   }
   .post {
      background-color: transparent;
      padding: 0.3rem 2rem 0;
      font-size: 1.2rem;
      margin-bottom: 0;
      .post-meta {
         .post-date {
            color: rgba($white, 0.5);
            font-size: 1.4rem;
         }
      }
      .post-title a {
         color: $white;
         font-size: 1.6rem;
         line-height: 1.25;
         font-weight: 600;
      }
   }
   .col {
      @include bp(extra-small) {
         -webkit-box-flex: 0;
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
      }
   }
}

.module__header {
   margin-bottom: 4.2rem;
   @include bp(tablet) {
      margin-bottom: 2.5rem;
   }
   .module--billboard-cat & {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 3.8rem;
      @include bp(lg-screens) {
         padding-left: 5rem;
         padding-right: 5rem;
      }
   }
   .module__title {
      margin-bottom: 0;
      @include bp(tablet) {
         font-size: 2rem;
      }
      .module--billboard-cat & {
         color: $white;
         font-size: 1.8rem;
         @include bp(tablet) {
            font-size: 1.7rem;
         }
      }
   }
   .line {
      height: 2px;
      background-color: #e4e6ee;
      .module--billboard-cat & {
         background-color: rgba($white, 0.1);
      }
   }
}

.module__link {
   font-size: 1.4rem;
   color: $blue;
   font-weight: 700;
   @include bp(tablet) {
      font-size: 1.2rem;
   }
   i {
      font-size: 1rem;
      color: #b2b2b2;
      margin-left: 1rem;
   }
}

.post__btn-link {
   color: $blue;
   font-size: 1.4rem;
   font-weight: 600;
   i {
      margin-left: 0.5rem;
      font-size: 1rem;
      color: #b2b2b2;
   }
}

.post-meta {
   color: #aaaaaa;
   font-family: $font1;
   font-size: 13px;
   margin-bottom: 5px;
   font-weight: 500;
   text-transform: uppercase;
   @include bp(lg-tablet) {
      font-size: 12px;
   }
   .post-list & {
      .category-module & {
         margin-bottom: 15px;
         font-size: 1rem;
         @include bp(small-screens) {
            margin-bottom: 2.5rem;
         }
         @include bp(above-tablet) {
            font-size: 1.4rem;
         }
      }
   }
   .author {
      text-transform: uppercase;
      margin-left: 15px;
      color: rgba(#303030, 0.8);
      @include bp(small-screens) {
         margin-left: 3rem;
      }
      &:before {
         content: '\e909';
         font-family: $icomoon;
         margin-right: 0.8rem;
         display: inline-block;
      }
      .trending-news & {
         color: $featured-box-color;
         .post-meta {
            margin-bottom: 1.8rem;
         }
      }
      &:hover {
         color: lighten($main, 20);
      }
   }
   .post-date {
      color: rgba(#303030, 0.8);
      &:before {
         content: '\e906';
         font-family: $icomoon;
         display: inline-block;
         margin-right: 0.8rem;
         vertical-align: middle;
         font-weight: 300;
      }
   }
}

.post {
   font-size: 16px;
   color: #616161;
   font-weight: normal;
   @include bp(extra-small) {
      margin-bottom: 30px;
   }
   &::after {
      display: block;
      content: "";
      clear: both;
   }
   p {
      &:last-child {
         margin-bottom: 0;
      }
      .category-module & {
         font-size: 1.4rem;
      }
   }
   .post-list & {
      margin-bottom: 30px;
      .category-module & {
         @include bp(lg-screens) {
            margin-bottom: 50px;
         }
      }
   }
   .trending-news & {
      color: $black;
   }

   .post-entry {
      overflow: hidden;
      .trending-news & {
         padding: 10px 0 0;
      }
   }

   .post-title {
      font-weight: 700;
      font-family: $font2;
      margin-bottom: 10px;
      font-size: 1.8rem;
      @include bp(lg-tablet) {
         font-size: 15px;
      }
      a {
         .trending-news & {
            color: #303030;
         }
         transition: all, 0.3s, ease-in-out;
         &:hover {
            opacity: 0.8;
         }
      }
      .post-list & {
         .category-module & {
            margin-bottom: 0.9rem;
            @include bp(lg-tablet){
               margin-top: 0.5rem;
            }
            @include bp(above-tablet) {
               font-size: 2.2rem;
            }
         }
      }
   }
   .post-media {
      position: relative;
      a {
         position: relative;
         display: block;
         i {
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: $white;
         }
      }
      .post-list & {
         float: left;
         margin-bottom: 0;
         margin-right: 20px;
         width: 10rem;
         @include bp(lg-screens){
            width: 14rem;
         }
         .category-module & {
            @include bp(extra-small) {
               float: none;
               width: 100%;
               margin-right: 0;
               margin-bottom: 10px;
            }
            @include bp(small-screens) {
               width: 150px;
               margin-right: 30px;
            }
            @include bp(lg-screens) {
               width: 29rem;
               margin-right: 5rem;
            }

         }
      }
      .media-item {
         position: absolute;
         bottom: -10px;
         right: 0;
         padding: 10px;
         font-size: 50px;
         color: $white;
         z-index: 1;
      }
      img {
         width: 100%;
      }
   }

   &.hero-post {
      margin-bottom: 20px;
      @include bp(small-screens) {
         margin-bottom: 4rem;
      }
      .trending-news & {
         @include bp(small-screens) {
            margin-bottom: 3.5rem;
         }
      }
      .post-title {
         line-height: 1.181818;
         color: #303030;
         @include bp(above-tablet) {
            font-size: 2.2rem;
         }
      }
      .post-meta {
         margin-bottom: 10px;
         @include bp(tablet) {
            font-size: 1rem;
         }
         font-size: 1.4rem;
         .post-date, .author {
            color: rgba(#303030, 0.8);
         }
         .author {
           &:hover{
              color: lighten($main, 20);
           }
         }
      }

      .post-media {
         margin-bottom: 2.5rem;
         a {
            i {
               @include bp(lg-screens) {
                  font-size: 5.6rem;
               }
            }
         }
         img {
            width: 100%;
         }
      }
      &.bg-hero {
         background: $main;
         color: $white;
         .post-entry {
            padding: 5px 15px 15px;
         }
         .post-title {
            a {
               color: $white;
            }
         }
      }
   }
}

.module--category {
   @include bp(above-tablet) {
      padding-top: 3rem;
   }
   .post {
      margin-bottom: 3rem;
      @include bp(tablet) {
         margin-bottom: 2rem;
      }
      @include bp(lg-screens) {
         margin-bottom: 5rem;
      }
   }
   .post--category-single {
      .post-media {
      }
      .post-title {
         margin-top: 0.5rem;
         @include bp(lg-screens) {
            font-size: 2.2rem;
         }
      }
      .post-entry {
         .post-meta {
            margin-bottom: 1.5rem;
            @include bp(xl-screens) {
               margin-bottom: 2.5rem;
            }
         }
         p {
            @include bp(lg-tablet) {
               font-size: 1.3rem;
            }
         }
         .post__link {
            margin-top: 2rem;
            @include bp(xl-screens) {
               margin-top: 3.2rem;
            }
         }
      }
   }
   .post--category-feature {
      .post-media {
         @include bp(lg-screens) {
            margin-bottom: 3.5rem;
         }
      }
      .post-title {
         font-size: 2.2rem;
         @include bp(lg-screens) {
            margin-bottom: 1.5rem;
         }
      }
   }
   .post--category-list {
      .post-title {
         font-size: 1.6rem;
      }
      @include bp(lg-screens) {
         margin-bottom: 2.8rem;
      }
   }
}

.news-slides {
   /* the slides */
   .slick-slide {
      margin: 0 2.5rem;
   }
   /* the parent */
   .slick-list {
      margin: 0 -2.5rem;
   }
   .slick-prev, .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 14.3175rem;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      z-index: 1;
      @include bp(sm-screen) {
         top: 18.214rem;
      }
      @include bp(tablet) {
         top: 7.5rem;
      }
      @include bp(tablet-landscape) {
         top: 11.675rem;
      }
      @include bp(lg-screens) {
         top: 13.575rem;
      }
      @include bp(xl-screens) {
         top: 14.15rem;
      }
      &:before {
         font-family: $icomoon;
         font-size: 20px;
         line-height: 1;
         color: white;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale
      }
   }
   .slick-prev {
      left: 3.6rem;
      &:before {
         content: '\e90f';
      }
   }
   .slick-next {
      right: 3.6rem;
      &:before {
         content: '\e910';
      }
   }
   ul.slick-dots {
      padding: 0;
      li {
         button {
            height: 1.2rem;
            width: 1.2rem;
            border: 2px solid #DFDFDF;
            background-color: transparent;
         }
         &.slick-active {
            button {
               border-color: #5e5e5e;
               background-color: #5e5e5e;
            }
         }
      }
   }
}

.single-post {
   color: #878787;
   font-size: 16px;
   .post-title {
      margin-bottom: 1rem;
      line-height: 1.2;
      color: #303030;
      @include bp(above-tablet) {
         font-size: 4rem;
      }
   }
   .post-subtitle {
      color: #303030;
      font-weight: 500;
      @include bp(small-screens) {
         font-size: 2.2rem;
         margin-bottom: 2.5rem;
      }
   }
   .post-media {
      margin-bottom: 4.5rem;
   }
   .poster {
      margin-bottom: 50px;
   }
   .post-cat {
      margin-bottom: 2rem;
      a {
         display: inline-block;
         background-color: $pink;
         color: $secondary;
         font-size: 1.4rem;
         font-weight: 500;
         padding: 0.4rem 0.8rem;
         text-transform: uppercase;
         border-radius: 0.4rem;
         border: 1px solid $pink;
         margin-bottom: 0.5rem;
         &:hover {
            color: $pink;
            background-color: transparent;
         }
      }
   }
   .post-entry {
      margin-bottom: 50px;
      h1, h2, h3, h4, h5, h6 {
         color: #303030;
         margin-bottom: 1rem;
      }
      h2 {
         font-size: 2.2rem;
      }
      p {
         color: #616161;
         @include bp(small-screens) {
            font-size: 1.8rem;
            line-height: 1.6;
         }
      }
      strong {
         font-weight: 600;
      }
      > p:first-child:first-letter {
         font-size: 333.333%;
         float: left;
         line-height: 0.9;
         padding-right: 1rem;
         color: #303030;
      }
      .video-wrapper {
         margin-top: 0.8rem;
         margin-bottom: 4.8rem;
      }
      blockquote {
         background: #f9f9f9;
         border-left: 10px solid $pink;
         padding: 4.5rem 5rem;
         margin-bottom: 4.5rem;

         p {
            font-style: italic;
            color: #303030;
            display: inline;
         }
      }
   }
   .post-head {
      margin-bottom: 30px;
      @include bp(above-tablet) {
         margin-bottom: 5rem;
      }
      .post-meta {
         margin-bottom: 20px;
         font-size: 1.6rem;
         @include bp(small-screens) {
            margin-bottom: 0;
         }
      }
   }
   .post-share {
      background-color: #f9f9f9;
      padding: 2.7rem 3rem;
      margin-bottom:7rem;
      .tag {
         font-size: 1.8rem;
         font-weight: 600;
         color: rgba(#303030, 0.5);
      }
      .get-social {
         li {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            i {
               height: 4.6rem;
               width: 4.6rem;
               font-size: 15px;
               line-height: 30px;
               transition: all, 0.3s, ease-in-out;
               &:hover {
                  opacity: 0.8;
               }
            }
         }
      }
   }
   .tag-cloud {
      margin-bottom: 50px;
      a {
         background: $main;
         color: $white;
         padding: 5px 10px;
         margin-right: 10px;
         &:hover {
            background: $secondary;
            color: $black;
         }
      }
   }
   .card{
      .card-body{
         p{
            margin:0;
         }
      }
   }
}

.adv-module {
   .adv-holder {
      margin-bottom: 50px;
   }
}

.author-module {
   background-color: #f9f9f9;
   margin-bottom: 50px;
   padding: 4.5rem 2.5rem;
   text-align: center;
   h2 {
      color: $blue;
      font-weight: 700;
      margin-bottom: 1.5rem;
   }
   h3{
      margin-bottom: 1.5rem;
   }
   .author-pic {
      margin: 0 0 2.2rem;
   }
   .author-desc {
      a {
         font-size: 1.4rem;
         text-transform: uppercase;
         color: rgba(#303030, 0.75);
         font-weight: 500;
         &:hover {
            color: darken(rgba($main, 0.75), 2%);
         }
      }
      h3 {
         margin-bottom: 0;
         .author {
            font-size: 1.8rem;
            font-weight: 600;
            color: #303030;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
         }
      }
   }
}

.rating-module {
   margin-bottom: 7rem;
   .heading {
      color: #303030;
      font-size: 1.8rem;
      font-weight: 600;
      margin-right: 2.5rem;
      display: inline-block;
      margin-bottom: 1rem;
   }
   p {
      font-size: 1.8rem;
      color: #616161;
      &:last-child {
         margin-bottom: 0;
      }
   }
   .rating {
      display: inline-block;
      .fa-star {
         color: orange;
      }
   }

   /* Three column layout */
   .checked {
      color: orange;
   }
}

.comment-module {
   margin-bottom: 50px;
   @include bp(above-tablet) {
      margin-bottom: 6.4rem;
   }
   a {
      color: $blue;
   }
   .comment-form {
      margin-bottom: 20px;
   }
   .commenter-dp {
      margin-right: 3rem;
   }
   .comment-meta {
      .author {
         font-size: 1.8rem;
         font-weight: 600;
         margin-bottom: 1rem;
      }
      .comment-date {
         font-size: 1.4rem;
         font-weight: 500;
         color: rgba(#303030, 0.8);
         &:before {
            content: '\E906';
            font-family: $icomoon;
            display: inline-block;
            margin-right: 0.8rem;
            vertical-align: middle;
         }
      }
   }
   .comment {
      color: #616161;
      line-height: 1.625;
      margin-top: 1rem;
      white-space: pre-wrap;
   }
   .comment-list {
      article {
         padding: 25px 25px 0px 25px;
         margin-bottom: 0px;
         color: #878787;
         font-size: 15px;
         &:nth-of-type(odd) {
            background-color: #eaeaea;
         }
         .panel {
            .panel-heading {
               padding: 4px 15px;
               position: absolute;
               border: none;
               /*Panel-heading border radius*/
               border-top-right-radius: 0px;
               top: 1px;
               &.right {
                  border-right-width: 0px;
                  /*Panel-heading border radius*/
                  border-top-left-radius: 0px;
                  right: 16px;
               }
               .panel-body {
                  padding-top: 6px;
               }
            }
         }
         .thumbnail {
            display: block;
            margin-bottom: 20px;
            line-height: 1.42857;
            background-color: rgb(255, 255, 255);
            padding: 4px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(221, 221, 221);
            border-image: initial;
            border-radius: 4px;
            transition: all 0.2s ease-in-out 0s;
         }
         figcaption {
            /*For wrapping text in thumbnail*/
            word-wrap: break-word;
         }
      }
   }
   .comment-action {
      @include bp(below-tablet) {
         margin-top: 1.5rem;
      }
      @include bp(above-tablet) {
         padding-left: 1.5rem;
      }
      .btn {
         padding: 0.5rem 1rem;
         i {
            color: #c1c1c1;
         }
      }
   }
}

ul.slick-dots {
   list-style: none;
   padding: 0 0 0 20px;
   margin: 0;
   li {
      display: inline-block;
      padding: 0;
      margin: 0 5px;
      &:before {
         display: none;
      }
      button {
         padding: 2px;
         text-indent: -999em;
         border: 1px solid $white;
         height: 13px;
         background: none;
         cursor: pointer;
         outline: 0;
         width: 13px;
      }
      &.slick-active {
         button {
            background: $secondary;
         }
      }
   }
}

.main-content {
   padding-bottom: 5rem;
   @include bp(above-tablet) {
      padding-bottom: 8rem;
   }
}

.news-module {
   padding: 4rem 0 0;
   @include bp(above-tablet) {
      padding: 8.0rem 0 0;
   }
   .adv-holder{
     margin-bottom: 7rem;
      img{
         width: 100%;
      }
   }
   .adv-middle{
      margin-bottom: 30px;
   }
   &.related-module {
      padding-top: 1rem;
      .post {
         margin-bottom: 30px;
      }
   }
   .post {
      .meida-item {
         font-size: 30px;
      }
   }

   .col-lg-8 {
      @include bp(xl-screens) {
         padding-right: 25px;
      }
      & + .col-lg-4 {
         @include bp(xl-screens) {
            padding-left: 25px;
         }

      }
   }
}

.news-column {
   .row {
      @include bp(xl-screens) {
         margin-right: -25px;
         margin-left: -25px;
      }
      > [class*="col-"], > .col {
         @include bp(xl-screens) {
            padding-left: 25px;
            padding-right: 25px;
         }
      }
   }

   .col-lg-4 {
      @include bp(below-tablet) {
         margin-bottom: 30px;
      }
   }
}

.newsletter-sec-heading {
   .tag {
      text-align: center;
      a {
         font-size: 1.8rem;
         line-height: 1.222;
         color: $blue;
         margin-bottom: 2.5rem;
         text-transform: uppercase;
         display: block;
         font-weight: 700;
         i {
            display: block;
            font-size: 4.8rem;
            margin-bottom: 1.2rem;
         }
      }
   }
}

.news-sec-heading {
   display: flex;
   align-items: center;
   margin-bottom: 3rem;
   .tag {
      flex: 0 0 auto;
      width: auto;
      max-width: none;
      a {
         font-size: 2.2rem;
         color: #303030;
         font-weight: 700;
      }
   }
   &:after {
      content: '';
      height: 1px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      background-color: #f2f2f2;
      margin-left: 1.5rem;
   }
}

.page {
   .page-title, .form-title {
      font-size: 3.2rem;
      color: #303030;
      margin-bottom: 2.2rem;
   }
   .page-content {
      padding-bottom: 3rem;
      .contact-details {
         margin-bottom: 5.5rem;
         padding-left: 0;
         li {
            list-style: none;
            color: rgba(#303030, 0.8);
            font-size: 1.8rem;
            line-height: 1.6;
            font-weight: 500;
            display: flex;
            &:not(:last-child) {
               margin-bottom: 2.5rem;
            }
            a {
               color: rgba(#303030, 0.8);
            }
            i {
               font-size: 2rem;
               margin-right: 1.3rem;
            }
         }
      }
   }
}

aside.sidebar {
   @include bp(small-screens) {
      padding-left: 3.5rem;
   }
}

.widget {
   .news-sec-heading {
      display: block;
      margin-bottom: 3rem;
      border-bottom: 2px solid $widget-title-border-bottom;
      &:after {
         content: none;
      }
      .tag {
         display: inline-block;
         a {
            background: $widget-title-bg;
            color: $widge-title-text;
            display: inline-block;
            line-height: 1.2;
            font-weight: 600;
            padding: 10.5px 15px;
            font-family: $font1;
            text-transform: uppercase;
            font-size: 1.2rem;
            @include bp(above-tablet) {
               font-size: 1.4rem;
            }
         }
      }
      .link {
         float: right;
         font-family: $font1;
         position: relative;
         font-size: 12px;
         color: #666666;
         transition: all, 0.3s, ease-in-out;
         font-weight: 600;
         &:hover {
            color: #888;
         }
         &:before {
            content: "›";
            line-height: 1;
            font-size: 16px;
            padding-right: 5px;
            display: inline-block;
         }
      }
   }
   .post {
      @include bp(tablet) {
         font-size: 1.2rem;
      }
      .post-title {
         margin-bottom: 0.7rem;
      }
      .post-meta {
         @include bp(lg-tablet) {
            display: none;
         }
      }
   }
}

.pagination-front{
   padding-top: 1.5rem;
   flex-wrap: wrap;
   justify-content: center;
   .page-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      .page-link {
         margin-left: 0;
         color: #6C6C6C;
         text-align: center;
         border: 0;
         background-color: #f9f9f9;
         font-weight: 500;
         padding: 20px 25px;
         height: 10rem;
         width: 10rem;
         @include bp(above-tablet){
            padding: 16.5px 15px;
            height: 5rem;
            width: 5rem;
         }
         &:hover {
            background-color: darken(#f9f9f9, 3%);
         }
      }
      &.active {
         .page-link {
            background-color: $blue;
            color: $white;
         }
      }
      &.prev-page, &.next-page {
         .page-link {
            background-color: transparent;
            color: #abadae;
            &:hover {
               color: darken(#ABADAE, 3%);
            }
         }
      }
   }
}

.sidebar-module {
   .post-list {
      .post {
         .post-media {
            @include bp(tablet) {
               float: none;
               width: 100%;
               margin-right: 0;
               margin-bottom: 10px;
            }
         }
      }
   }
}

.error-module {
   .error-post {
      h1 {
         color: $main;
      }
   }
}

.widget {
   &#subscription-form {
      background-color: #f9f9f9;
      padding: 5rem 1.5rem 4.7rem;
      @include bp(above-tablet) {
         padding-left: 5rem;
         padding-right: 5rem;
      }
      .form-group {
         margin-bottom: 1.5rem;
      }
      .form-control {
         border: none;
         background-color: $white;
      }
   }
   &.featured-widget {
      margin-bottom: 1.5rem;
      .widget-title {
         border-bottom: 2px solid $main;
         margin-bottom: 0;
         span {
            display: inline-block;
            background-color: $main;
            color: #ffffff;
            line-height: 1.2;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 10.5px 15px;
            text-transform: uppercase;
            @include bp(above-tablet) {
               font-size: 1.4rem;
            }
         }
      }
   }
   .widget-title {
      text-transform: uppercase;
      color: #444444;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 700;
   }
   .hero-post {
      .post-meta {
         display: block;
      }
      .post-date {
         color: $secondary;
      }
   }

   .post-list {
      .post {
         margin-bottom: 2.5rem;
         .media-item {
            font-size: 30px;
         }
      }
   }
   .sidebar-module & {
      margin-bottom: 45px;
   }
}

.trending-news {
   padding-bottom: 20px;
   .widget & {
      padding-bottom: 0;
   }
   .post {
      .post-media {
         margin-bottom: 0;
      }
      .post-entry {
         padding-top: 1.5rem;
      }
      .post-title {
         color: #303030;
      }
      p {
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}

.opinion-widget {
   background: #f5f5f5;
   padding: 40px;
   border-top: 1px solid #00adef;
   @include bp(tablet) {
      padding: 20px;
   }
   .widget-opinion-share-link {
      a {
         margin-right: 10px;
      }
      .twitter-follow-button, .fb-like {
         display: inline-block;
         vertical-align: middle;
      }
      .fb-like {
         margin-top: -1px;
      }
   }
}

.list-widget {
   background: #f5f5f5;
   padding: 40px;
   font-family: $font1;
   border-top: 1px solid $black;
   ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
      margin: 0;
      li {
         margin-bottom: 13px;
         &:last-child {
            margin-bottom: 0;
         }
         a {
            padding-left: 10px;
            font-size: 14px;
            display: block;
            transition: all, 0.3s, ease-in-out;
            position: relative;
            &:hover {
               opacity: 0.7;
            }
            &:before {
               content: "›";
               line-height: 1;
               position: absolute;
               left: 0;
               font-size: 16px;
               padding-right: 5px;
               display: inline-block;
            }
         }
      }
   }
}

.twitter-list {
   list-style: none;
   padding: 0;
   font-size: 15px;
   margin: 0;
   li {
      margin-bottom: 25px;
      p {
         margin-bottom: 15px;
         line-height: 1.2;
      }
      .social-author {
         font-weight: bold;
      }
      i {
         color: #00adef;
         margin-right: 10px;
      }
      .fa-facebook {
         color: #4267b2;
         margin-right: 10px;
      }
   }
}

.get-social {
   list-style: none;
   padding: 0;
   margin: 0 -1.5rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   li {
      font-family: $font1;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      .widget & {
         flex: 0 0 auto;
         width: auto;
         max-width: none;
      }
      a {
         padding-top: 20px;
         @include bp(xl-screens) {
            padding-top: 30px;
         }
         color: $white;
         display: block;
         transition: all, 0.3s, ease-in-out;
         &:hover {
            opacity: 0.8;
         }
      }
      i {
         font-size: 1.4rem;
         line-height: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         margin: 0 auto 0.6rem;
         width: 4rem;
         height: 4rem;
      }
      .count {
         display: block;
         font-size: 1.2rem;
         font-weight: 500;
         line-height: 1.45;
         color: #5b5b5b;
      }
      .follow-type {
         display: block;
         color: #ADADAD;
         font-size: 1.2rem;
         font-weight: 500;
         text-transform: uppercase;
         @include bp(tablet) {
            display: none;
         }
      }
      &.facebook {
         i {
            background: $fb-color;
         }
      }
      &.twitter {
         i {
            background: $twitter-color;
         }
      }
      &.youtube {
         i {
            background: $youtube-color;
         }
      }
      &.instagram {
         i {
            background: $instagram-color;
         }
      }
      &.pinterest{
         i {
            background: $pinterest-color;
         }
      }
   }
   &.author-social{
      margin: 0;
      justify-content: normal;
      li{
         padding-left: 0;
         a{
            padding-top: 0;
         }
      }
   }
}

.yt-video {
   margin-bottom: 10px;
   .youtube-player {
      position: relative;
   }
   .play-button {
      position: absolute;
      cursor: pointer;
      font-size: 7px;
      line-height: 18px;
      text-align: center;
      left: 10px;
      bottom: 10px;
      width: 28px;
      color: $white;
      height: 18px;
      border-radius: 2px;
      background: #d93600;

   }
   .youtube-player {
      display: block;
      width: 100%;
      /* assuming that the video has a 16:9 ratio */
      padding-bottom: 56.25%;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      cursor: hand;
      cursor: pointer;
      display: block;
      background: #000000;
      &.responsive-21by9 {
         padding-bottom: 42.857143%;
      }

      &.responsive-16by9 {
         padding-bottom: 56.25%;
      }

      &.responsive-4by3 {
         padding-bottom: 75%;
      }

      &.responsive-1by1 {
         padding-bottom: 100%;
      }

   }

   .youtube-thumb {
      bottom: 0;
      display: block;
      left: 0;
      margin: auto;
      max-width: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      height: auto;
      &:before {
         height: 100%;
         width: 100%;
         position: absolute;
         content: "";

      }
   }

}

#youtube-iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.facebook-page-share {
   margin-bottom: 40px;
   img {
      width: 100%;
   }
}

.related-news {
   background: $missed-post-bg;
   padding: 60px 0;
   @include bp(above-tablet) {
      padding: 7.5rem 0 2rem;
   }
   .sec-heading {
      font-size: 2.7rem;
      color: $missed-post-color;
      margin-bottom: 2.6rem;
      @include bp(above-tablet) {
         margin-bottom: 4.5rem;
      }
      .divider {
         height: 1px;
         background-color: #e4e6ee;
      }
   }
}

.category-module {
   background-color: $white;
   .poster {
      margin-bottom: 50px;
   }
}

/*Nav close  =========== */
.nav-close {
   display: inline-block;
   z-index: 999;
   cursor: pointer;
   width: 30px;
   height: 22px;
   overflow: hidden;
   margin-right: 35px;
   vertical-align: middle;
   margin-top: 20px;
   position: absolute;
   top: 17px;
   right: 15px;

   @include bp(extra-small) {
      width: 23px;
   }
   @include bp(iphone-portrait) {
      margin-right: 15px;
   }
   transition: all, .3s, ease-in-out;
   &:hover {
      opacity: 0.7;
   }
   .burger {
      display: block;
      height: 2px;
      position: relative;
      margin-top: 9px;
      transition: all, .3s, ease-out;
      &, &:before, &:after {
         background-color: $white;
         transition: background-color, 0.3s, ease-in-out
      }

      & {
         background-color: transparent;
      }

      &:before {
         -moz-transform: translate(0, 9px) rotate(45deg);
         -ms-transform: translate(0, 9px) rotate(45deg);
         -webkit-transform: translate(0, 9px) rotate(45deg);
         transform: translate(0, 9px) rotate(45deg);
         background-color: $white;
         top: -9px;
      }
      &:after {
         -moz-transform: translate(0, -9px) rotate(-45deg);
         -ms-transform: translate(0, -9px) rotate(-45deg);
         -webkit-transform: translate(0, -9px) rotate(-45deg);
         transform: translate(0, -9px) rotate(-45deg);
         background-color: $white;
         bottom: -9px;
      }
      &:before, &:after {
         position: absolute;
         width: 30px;
         height: 2px;
         content: "";
         display: block;
         -moz-transition: -moz-transform .3s, background .3s;
         -o-transition: -o-transform .3s, background .3s;
         -webkit-transition: -webkit-transform .3s, background .3s;
         transition: transform .3s, background .3s;
         -moz-transform-origin: center center;
         -ms-transform-origin: center center;
         -webkit-transform-origin: center center;
         transform-origin: center center;
         @include bp(extra-small) {
            width: 23px;
         }
      }
   }
}

/* Search Overlay =========== */
.opensearch-overlay {
   position: fixed;
   height: 100vh;
   top: 0;
   width: 100%;
   overflow: hidden;
}

.search-overlay {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   height: 100vh;
   opacity: 0;
   visibility: hidden;
   padding: 35px 0;
   background: $blue;
   color: #A0A0A0;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1000;
   .opensearch-overlay & {
      z-index: 1000;
      opacity: 1;
      visibility: visible;
   }
   .nav-trigger {
      display: block;
   }
   .overlay-entry {
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      padding: 60px 0 60px;
      min-height: calc(100vh - 110px);
      @include bp(small-screens) {
         padding: 120px 0;
         max-width: 700px;
      }
   }
   .post-list {
      height: 470px;
      text-align: left;
      color: $white;
      .post-media {
         @include bp(extra-small) {
            display: none;
         }
      }
      a {
         color: #666;
      }
   }

}

.search-form {
   margin-bottom: 50px;
   width: 100%;
   position: relative;
   input.search-field {
      background: transparent;
      border-width: 0 0 1px 0;
      border-color: $secondary;
      border-style: solid;
      padding: 15px 0;
      line-height: 1;
      font-weight: 500;
      color: $secondary;
      outline: none;
      font-size: 50px;
      font-family: $font1;
      text-align: center;
      display: block;
      width: 100%;
      -webkit-appearance: none;
      border-radius: 0;
      @include bp(extra-small) {
         font-size: 16px;

      }
      @include bp(below-desktop) {
         width: calc(100% - 25px);
      }
      @include bp(tablet-only) {
         font-size: 45px;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
         color: $secondary;
      }
      &::-moz-placeholder { /* Firefox 19+ */
         color: $secondary;
      }
      &:-ms-input-placeholder { /* IE 10+ */
         color: $secondary;
      }
      &:-moz-placeholder { /* Firefox 18- */
         color: $secondary;
      }
   }
   .submit {
      position: absolute;
      right: 0;
      top: 20px;
      width: 25px;
      height: 25px;
      @include bp(small-screens) {
         top: 30px;
      }
      @include bp(large-screens) {
         right: -25px;
      }

      .search-submit {
         width: 25px;
         background: transparent;
         height: 25px;
         border: 0;
         position: relative;
         text-indent: -999em;
         cursor: pointer;
         z-index: 1;
      }
      .fa-search {
         font-size: 25px;
         color: $secondary;
         position: absolute;
         top: 0;
         left: 0;
         @include bp(extra-small) {
            font-size: 18px;
         }
      }
   }
}

.content-entry {
   margin-bottom: 100px;
}

.btn {
   font-size: 16px;
   font-family: $font1;
   padding: 10px 20px;
   &.primary-btn {
      background-color: $blue;
      color: $white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1.85rem 2rem;
      border-radius: 0;
      &:hover {
         background-color: darken($blue, 7%);
      }
   }
}

form {
   label {
      font-family: $font1;
   }
   .form-group {
      margin-bottom: 20px;
   }
   .form-check {
      padding-left: 25px;
   }
   .form-check-input {
      margin-left: -22px;
   }
}

.form-control {
   font-size: 14px;
   font-family: $font1;
   font-weight: 400;
   padding: 22px;
   background-color: #f9f9f9;
   border: none;
   border-radius: 0;
   height: 6rem;
}

select.form-control:not([size]):not([multiple]) {
   height: 43px;
}

.advance-search-form {
   input:not([type="submit"]) {
      background-color: $white;
   }
   .primary-btn {
      color: rgba($white, 0.5);
      i {
         margin-right: 0.8rem;
      }
      &:hover {
         color: $white;
      }
   }
}

#footer {
   color: $footer-color;
   font-family: $font1;
   font-weight: 400;
   .footer-sec-title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      @include bp(small-screens) {
         margin-bottom: 3.3rem;
      }
   }
}

.footer-top {
   background-color: $blue;
   padding: 5rem 0 1.5rem;
   @include bp(small-screens) {
      padding: 7.6rem 0;
   }
   .footer-widget {
      @include bp(small-screens) {
         &:not(:last-child) {
            border-right: 1px solid #6172AA;
         }
      }
   }
   .info-widget {
      color: rgba($white, 0.5);
      @include bp(small-screens) {
         padding-right: 3rem;
      }
   }
   .contact-widget {
      @include bp(small-screens) {
         padding-left: 3rem;
      }
   }
   .footer-menu-widget {
      @include bp(small-screens) {
         padding-left: 3rem;
         padding-right: 3rem;
      }
   }
}

.footer-bottom {
   background-color: #243a80;
   padding: 2.2rem 0;

}

.footer-logo {
   display: block;
   margin-bottom: 2.5rem;
}

.footer-widget-col {
   @include bp(lg-tablet) {
      flex: 0 0 50%;
      max-width: 50%;
   }
}

.footer-widget {
   @include bp(extra-small) {
      margin-bottom: 3.5rem;
   }
   .head {
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #777777;
   }
}

.contact-info {
   list-style: none;
   padding: 0;
   font-size: 12px;
   margin: 0;
   li {
      display: flex;
      flex-wrap: nowrap;
      font-size: 1.6rem;
      line-height: 1.3;
      margin-bottom: 2.5rem;
      &:last-child {
         margin-bottom: 0;
      }
      i {
         margin-right: 10px;
         font-size: 1.7rem;
      }
      a {
         transition: all, 0.3s, ease-in-out;
         color: $white;
         &:hover {
            color: #888888;
         }
      }
   }
}

.footer-menu {
   list-style: none;
   padding: 0;
   margin: 0;
   &::after {
      display: block;
      content: "";
      clear: both;
   }
   .footer-top & {
      text-transform: uppercase;
   }
   .footer-bottom & {
      @include bp(medium-screens) {
         margin-bottom: 30px;
      }
      @include bp(lg-screens) {
         text-align: right;
      }

   }
   li {
      margin-bottom: 5px;
      .footer-bottom & {
         @include bp(extra-small) {
            float: left;
            width: 50%;
            margin-bottom: 15px;
         }
         display: inline-block;
      }

      &:first-child {
         a {
            &:before {
               .footer-bottom & {
                  content: none;
               }
            }
         }
      }
      a {
         display: inline-block;
         font-size: 13px;
         color: $white;
         text-transform: capitalize;
         @include bp(above-tablet) {
            font-size: 1.6rem;
         }
         .footer-bottom & {
            padding-left: 10px;
         }

         &:before {
            .footer-bottom & {
               @include bp(small-screens) {
                  content: ".";

                  padding-right: 10px;
               }

            }
         }
         &:hover {
            color: $white;
            &:before {
               .footer-bottom & {
                  color: #888888;
               }
            }
         }
      }

   }
}

.scrolltop {
   position: fixed;
   right: 30px;
   height: 40px;
   width: 40px;
   background: $main;
   color: $white;
   bottom: 30px;
   text-align: center;
   font-size: 25px;
   opacity: 0;
   visibility: hidden;
   @include bp(above-tablet) {
      bottom: 10rem;
   }
   &:hover {
      background: lighten($main, 20);
   }
   transition: all, 0.3s, linear;
   cursor: pointer;
   &.on {
      opacity: 1;
      visibility: visible;
   }
}

.loader {
   display: none;
}

.loading.loader {
   position: fixed;
   top: 0;
   background: $white;
   left: 0;
   z-index: 999;
   height: 100%;
   width: 100%;
   display: block;
   color: $black;
   text-align: center;
   i {
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0;
   }
}
