//@include font-face($style-name, $file, $family);
//$style-name being the name of the font e.g. Helvetica
//$file meaning the file name, without the file extensions
//$family being the folder inside the fonts folder where the font files are

@include font-face(icomoon,icomoon,icomoon);

/*Sass Variables---------------------------------------------------------------------------*/
$icomoon: 'icomoon';
$font1:'Montserrat', sans-serif;
$font2: $font1;


$white:#ffffff;
$black:#000000;
$black-1:#777777;
$grey:#3E3E3E;
$main:#F63A4C;
$secondary:#f7f7f7;
$tertiary:#50312f;

$blue: #2C438D;
$pink:#F63A4C;

//menu
$top-menu-bg:#F9F9F9;
$top-menu-bottom-border-color:$secondary;
$top-menu-text:$grey;
$top-menu-text-hover:$grey;
$menu-bg:$blue;
$menu-hover-bg:$white;
$menu-active-border:rgba($white,0.5);
$menu-text:rgba($white,0.75);
$menu-text-hover:$white;

//submenu
$sub-menu-text:$grey;
$sub-menu-text-hover:$main;


$featured-box-bg:$grey;
$featured-box-color:$secondary;
//body
$widget-title-bg:$blue;
$widget-title-border-bottom:$blue;
$widge-title-text:$white;

//footer

$missed-post-bg:#F9F9F9;
$missed-post-color:#303030;

$footer-bg:$black;
$footer-color:$white;

//Social Media Color

$fb-color: #4E6AA6;
$twitter-color: #28C0F0;
$youtube-color: #ff0000;
$instagram-color: #bc2a8d;
$pinterest-color: #e60023;
